.container {
  max-width: 1406px !important;
  margin: 0 auto;
}
.sub-container {
  max-width: 1160px !important;
  margin: 0 auto;
}

.isSP {
  display: none;
}

@media (max-width: 768px) {
  .conatainer-page {
    padding: 0 16px;
  }

  .container {
    max-width: 100% !important;
    margin: 0 auto;
  }
  .sub-container {
    max-width: 100% !important;
    margin: 0 auto;
  }

  .isSP {
    display: block;
  }
}
